/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.container {
  background: linear-gradient(teal, yellow);
  /*background-color: #FFFF61;*/
  width: 700px;
  height: 450px;
}

h2 {
  background-color: gray;
  width: 700px;
  height: 500px;
}

.enemy {
    animation: spin 1s linear infinite;
  }
@keyframes spin { 0% { transform: rotate(0deg);
  transform-origin: 50% 50%;}
  100%{transform: rotate(360deg);
    transform-origin: 50% 50%;}
  }

